.result {
  flex: 1;

  display: grid;

  grid-template-columns: 25% 25% 25% 25%;

  max-height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;

  position: relative;

  top: calc(-1 * var(--margin));
  /* bottom: calc(-2 * var(--major-padding)); */

  /* padding-bottom: -500px; */
  bottom: -500px;
}
