.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-color);
}

.App header h1 {
  padding: var(--margin) var(--major-padding);
  font-weight: bold;
  font-size: var(--font-large);
  margin: 0;
}

.App main {
  display: flex;
  padding: var(--margin) var(--major-padding);
}

@media screen and (max-width: 520px) {
  .App {
    overflow: scroll;
  }

  .App header h1 {
    padding: var(--margin);
  }

  .App main {
    flex-direction: column;
    padding: 0;
  }
}
